.material-icons {
    display: inline-flex;
    vertical-align: middle;
  }
  .text-color {
      color: white !important;
  }
  .alert-password {
      background-color: #30058c;
  }
  .field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
  }
  